#version: '3.11.7'
services:
  api:
    build: .
    image: ikim318/management:2.0
    container_name: fastapi-management
    ports:
      - "${API_PORT}:${API_PORT}"
    volumes:
      - ./app:/app
    working_dir: /fastapi-app
    env_file:
      - .env
    depends_on:
      - db
      - redis
  db:
    image: mysql
    container_name: mydb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_BINDING_PORT}:${DB_PORT}
    volumes:
      - mysql_volume_data:/data/mysql
  redis:
    image: redis
    container_name: myredis
    ports:
      - 6379:6379
    volumes:
      - redis_volume_data:/data/redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: always
volumes:
  mysql_volume_data:
  redis_volume_data: