#version: '3.11.7'
services:
  api:
    build: .
    image: membership-management
    # image: ${API_IMAGE}:${API_TAG}
    container_name: ${API_CONTAINER}
    ports:
      - ${API_PORT}:${API_PORT}
    volumes:
      - ./app:/app
    working_dir: /fastapi-app
    env_file:
      - .env
    depends_on:
      - db
      - redis
  db:
    image: ${DB_IMAGE}
    container_name: ${DB_CONTAINER}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_BINDING_PORT}:${DB_PORT}
  redis:
    image: ${REDIS_IMAGE}
    container_name: ${REDIS_CONTAINER}
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: always